spec/doc/xmeld-nachrichten-anmeldung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xmeld="http://www.osci.de/xmeld2511a"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xian="http://www.osci.de/xinneres/allgemeinername/4"
           xmlns:xiaz="http://www.osci.de/xinneres/azrnummer/3"
           xmlns:xicgvz="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/3"
           xmlns:xida="http://www.osci.de/xinneres/datum/2"
           xmlns:xig="http://www.osci.de/xinneres/geschlecht/1"
           xmlns:xiid="http://www.osci.de/xinneres/idnr/2"
           xmlns:xima="http://www.osci.de/xinneres/meldeanschrift/5"
           targetNamespace="http://www.osci.de/xmeld2511a"
           version="25.11a"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XMeld</nameLang>
            <nameKurz>XMeld</nameKurz>
            <nameTechnisch>xinneres.xmeld</nameTechnisch>
            <kennung>urn:xoev-de:kosit:standard:xinneres.xmeld</kennung>
            <beschreibung>OSCI–XMeld ist das XInneres-Fachmodul der Innenverwaltung für den elektronischen Datenaustausch
im Meldewesen und mit dem Meldewesen. Es ist Kern eines elektronischen Informationsverbundes zwischen
den Meldebehörden und den Kommunikationspartnern der Meldebehörden. Weitere Bestandteile
des elektronischen Informationsverbundes sind die Intermediäre und Clearingstellenbetreiber, deren
Aufgabe die Übermittlung und Zustellung der XMeld-Nachrichten ist. Für die Übermittlung wird OSCITransport
genutzt. Für die Zustellung und Adressierung der XMeld-Nachrichten das Deutsche Verwaltungsdienste-
Verzeichnis (DVDV).
Entwickelt wird OSCI–XMeld durch ein Expertengremium mit Vertreterinnen und Vertretern aus der
Verwaltung und von Verfahrensherstellern. Die Koordnierungsstelle für IT-Standards (KoSIT) ist dabei
federführend. Auftraggeber für die Erstellung und Weiterentwicklung ist der Arbeitskreis I (AK I) der
Innenministerkonferenz (IMK).
Seit 2007 ist OSCI–XMeld im praktischen Einsatz für die Kommunikation von und mit den Meldebehörden
und wird seit dem kontinuierlich weiterentwickelt und an geänderte rechtliche Vorgaben angepasst.
Zur Einführung des Bundesmeldegesetzes wurde OSCI–XMeld vollständig überarbeitet und setzt die
Anforderungen des Bundesmeldegesetzes in der praktischen Datenübermittlung um.</beschreibung>
         </standard>
         <versionStandard>
            <version>25.11a</version>
            <versionXOEVProfil>3.0.3</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
         <title>Abrufverfahren zum vorausgefüllten Meldeschein</title>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xmeld-nachrichten-basistypen.xsd"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/allgemeinername/4/xinneres-name.xsd"
              namespace="http://www.osci.de/xinneres/allgemeinername/4"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/azrnummer/3/xinneres-azrnummer.xsd"
              namespace="http://www.osci.de/xinneres/azrnummer/3"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/3/xinneres-codes-gemeindeverzeichnis.xsd"
              namespace="http://www.osci.de/xinneres/codes/gemeindeverzeichnis/3"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/datum/2/xinneres-datum.xsd"
              namespace="http://www.osci.de/xinneres/datum/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/geschlecht/1/xinneres-geschlecht.xsd"
              namespace="http://www.osci.de/xinneres/geschlecht/1"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/idnr/2/xinneres-idnr.xsd"
              namespace="http://www.osci.de/xinneres/idnr/2"/>
   <xs:import schemaLocation="http://www.osci.de/xinneres/meldeanschrift/5/xinneres-meldeanschrift.xsd"
              namespace="http://www.osci.de/xinneres/meldeanschrift/5"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:complexType name="type.Anmeldung.Identifikation.NameNatuerlichePerson">
      <xs:annotation>
         <xs:appinfo>
            <title>Name zur Identifikation für den vorausgefüllten Meldeschein</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp können die Namensinformationen der betroffenen Person im Kontext des vorausgefüllten Meldescheines übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xmeld:type.NameNatuerlichePerson">
            <xs:sequence>
               <xs:element name="familienname.unstrukturiert"
                           minOccurs="0"
                           type="xmeld:type.FamiliennameUnstrukturiert">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Familienname einer Person übermittelt (siehe DSMeld-Blatt 0101a). Wenn es sich bei dem Namen um einen Blocknamen handelt, wird der vollständige Name als Nachname der Person übermittelt, während für den Vornamen statt einer Zeichenkette das Kindelement nichtVorhanden verwendet wird, um auszudrücken, dass die Person zu Recht keinen Vornamen führt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ehename.unstrukturiert"
                           minOccurs="0"
                           type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Ehename einer Person übermittelt (siehe DSMeld-Blatt 0103a).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="lebenspartnerschaftsname.unstrukturiert"
                           minOccurs="0"
                           type="xian:AllgemeinerName">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element wird der Lebenspartnerschaftsame einer Person übermittelt (siehe DSMeld-Blatt 0105a).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="vornamen" type="xmeld:type.Vornamen">
                  <xs:annotation>
                     <xs:documentation>Mit diesem Element werden die Vornamen einer Person übermittelt (siehe DSMeld-Blatt 0301).</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.Anmeldung.NatuerlichePerson">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Informationen des vorausgefüllten Meldescheins</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden die Daten der betroffenen Person im Kontext des vorausgefüllten Meldescheins abgebildet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="auskunftssperre"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xmeld:type.Auskunftssperre">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Angaben zu Auskunftssperren der betroffenen_person übermittelt.Es sind in diesem Kontext nur die Schlüssel 1, 3 und 11 zulässig.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="name" minOccurs="0" type="xmeld:type.NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zum Namen der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienstand"
                     minOccurs="0"
                     type="xmeld:type.FamilienstandNurBegruendung">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zum Familienstand der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="familienstand.nachweis"
                     minOccurs="0"
                     type="xmeld:type.Nachweisdaten">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die Nachweisdaten zum Familienstand übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburt" minOccurs="0" type="xmeld:type.Geburt">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur Geburt der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="religion" minOccurs="0" type="xmeld:type.Religion">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur Zugehörigkeit zu einer Religionsgesellschaft der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="staatsangehoerigkeit"
                     minOccurs="0"
                     maxOccurs="4"
                     type="xmeld:Code.Staatsangehoerigkeit">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zur Staatsangehörigkeit der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ausweisdokument"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xmeld:type.AusweisdokumentOhneSperrinformationen">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zu Ausweisdokumenten der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geschlecht" minOccurs="0" type="xig:Code.Geschlecht">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Angaben zum Geschlecht der betroffenen Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aktuelleWohnung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xmeld:type.WohnungOhneZusatzdaten">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden die aktuelle Hauptwohnung bzw. die aktuelle alleinige Wohnung übermittelt, sowie ggf. existierende aktuelle Nebenwohnungen. Oder es wird die letzte Hauptwohnung bzw. die letzte alleinige Wohnung übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="zuzugBund" minOccurs="0" type="xida:Tagesdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Datum des Zuzugs in die Bundesrepublik Deutschland übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="azrNummer" minOccurs="0" type="xiaz:AZRNummer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die AZR-Nummer der Person übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburtseintragOhneGeburtsurkunde"
                     minOccurs="0"
                     fixed="true"
                     type="xs:boolean">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Tatsache übermittelt, dass zur betroffenen Person ein Eintrag im Geburtenregister erfolgt ist, aber keine Geburtsurkunde ausgestellt wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="passversagung"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xmeld:type.PassversagungMitNachweis">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Vorliegen von Pass-, Personalausweis- oder Vorläufiger Personalausweisversagungsgründen zur Person übermittelt. Falls dazu Nachweisdaten vorliegen, können diese ebenfalls mit übermittelt werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="idNr" minOccurs="0" type="xiid:Identifikationsnummer">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Identifikationsnummer nach § 139b AO gem. § 4 Abs. 1 Nr. 8 1. BMeldDÜV übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.Anmeldung.Wegzugsanschrift">
      <xs:annotation>
         <xs:appinfo>
            <title>Wegzugsanschrift für den vorausgefüllten Meldeschein</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp können die Informationen zur Wegzugsanschrift zur Identifikation im Kontext des vorausgefüllten Meldescheines übermittelt werden.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xima:Meldeanschrift">
            <xs:sequence>
               <xs:element name="gemeindeschluessel"
                           minOccurs="0"
                           type="xicgvz:Code.GemeindeVZ.AmtlicherGemeindeschluessel"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist der vom Statistischen Bundesamt herausgegebene bundeseinheitliche Gemeindeschlüssel der Gemeinde anzugeben, in der die Wohnung liegt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Hausnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind nur die Ziffern einer Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hausnummerBuchstabeZusatzziffer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.HausnummerBuchstabeZusatzziffer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind die Buchstaben oder die Zusatzziffern zur Hausnummer gemäß der amtlichen Festlegung der Gemeinde zur Hausnummer anzugeben. Beispiel: 124 a, 124 A, 109.5, 135.44, 116/1</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="postleitzahl"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Postleitzahl"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist die Postleitzahl anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="stockwerkswohnungsnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Stockwerkswohnungsnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Stockwerks- und Wohnungsnummern anzugeben, soweit sie für die Adressierung erforderlich sind; Beispiel: IV. Stockwerk, Wohnung 115.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="strasse"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Strasse"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es ist die Bezeichnung der Straße anzugeben. Die Feldlänge ist auf 55 Zeichen beschränkt. Bei Überschreitung einer Länge von 25 Zeichen darf sinnvoll abgekürzt werden. Ist keine Straßenbezeichnung - wohl aber eine Hausnummer - vorhanden, so ist die Zeichenkette Hausnummer anzugeben. Sind weder Straßenbezeichnung noch Hausnummer vorhanden, so ist die Zeichenkette ohne Hausnummer anzugeben.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="teilnummerDerHausnummer"
                           minOccurs="0"
                           type="xima:Meldeanschrift.TeilnummerDerHausnummer"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Teilnummern zur Hausnummer anzugeben. Beispiel: 16 1/7</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="zusatzangaben"
                           minOccurs="0"
                           type="xima:Meldeanschrift.Zusatzangaben"
                           form="unqualified">
                  <xs:annotation>
                     <xs:documentation>Es sind Zusatzangaben zur Anschrift anzugeben. Beispiele: Hinterhaus, Gartenhaus. Bei Überschreitung einer Länge von 21 Zeichen darf sinnvoll abgekürzt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="type.anmeldung.identifikation">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Identifikation der betroffenen_person an einer Anschrift</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp dient der anforderung_meldescheins für 1 bis n Personen, die in der Wegzugsmeldebehörde, bisherigen Meldebehörde der Hauptwohnung bzw. der letzten Inlandsmeldebehörde mit derselben Anschrift mit dem Wohnungsstatus AW oder HW gemeldet sind. Die Anschrift dient der weiteren Identifikation der betroffenen Personen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifikation.person"
                     maxOccurs="unbounded"
                     type="xmeld:type.anmeldung.identifikation.person"/>
         <xs:element name="wegzugsanschrift" type="xmeld:type.Anmeldung.Wegzugsanschrift">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Anschrift der aktuellen Hauptwohnung bzw. die Anschrift der aktuellen alleinigen Wohnung übermittelt, oder die Anschrift der letzten Inlandswohnung.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.anmeldung.identifikation.person">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die Identifikation der betroffenen_person</title>
         </xs:appinfo>
         <xs:documentation>Dieser Datentyp dient der Identifikation der betroffenen Person im Rahmen des vorausgefüllten Meldescheins.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="name"
                     type="xmeld:type.Anmeldung.Identifikation.NameNatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Dieses Element dient dazu, die betroffene_person anhand ihres Namens zu identifizieren. Wenn dieses Element vorhanden ist, müssen mindestens ein Vor- und ein Nachname der betroffenen_person angegeben werden. Weitere Namensangaben sind optional. Im Melderegister des Lesers darf nur in den Feldern gesucht werden, die den Elementen entsprechen (also in Familienname, Ehename bzw. Lebenspartnerschaftsname).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geburt" type="xmeld:type.Geburtsdatum">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird das Geburtsdatum der betroffenen_person zur Identifikation übermittelt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="type.anmeldung.zuziehende.person">
      <xs:annotation>
         <xs:appinfo>
            <title>Datentyp für die betroffene Person im Kontext der antwort_meldescheins</title>
         </xs:appinfo>
         <xs:documentation>Mit diesem Datentyp werden die Daten der betroffenen Person zum vorausgefüllten Meldeschein nach § 23 BMG abgebildet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="antwortstatus"
                     type="xmeld:Code.Vorausgefuellter.Meldeschein.Antwortstatus">
            <xs:annotation>
               <xs:documentation>Mit diesem Element wird die Information übermittelt, ob die betroffene Person gefunden wurde oder nicht. Die Elemente personendaten, vertreter und partner.und.kinder werden nur übermittelt, wenn der antwortstatus den Wert 01 hat.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="anfrageprofil" type="xmeld:type.anmeldung.identifikation.person">
            <xs:annotation>
               <xs:documentation>Hier wird die ursprüngliche Anfrage wiederholt (zu Vergleichs-/Kontrollzwecken).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="personendaten"
                     minOccurs="0"
                     type="xmeld:type.Anmeldung.NatuerlichePerson">
            <xs:annotation>
               <xs:documentation>Details zur zuziehenden natürlichen Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="vertreter"
                     minOccurs="0"
                     maxOccurs="4"
                     type="xmeld:type.GesetzlicherVertreterOhneBeendigung">
            <xs:annotation>
               <xs:documentation>Vertreter der anzumeldenden Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="partner.und.kinder"
                     minOccurs="0"
                     type="xmeld:type.PartnerUndKinder">
            <xs:annotation>
               <xs:documentation>Mit diesem Element werden Daten zum Partner und zu Kindern der betroffenen Person übermittelt..</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="wegzugsanschrift"
                     minOccurs="0"
                     type="xmeld:type.AnschriftMelderecht">
            <xs:annotation>
               <xs:documentation>Sofern die betroffene Person im Zuständigkeitsbereich einer Meldebehörde nicht mit Hauptwohnung bzw. alleiniger Wohnung gemeldet ist, wird mit diesem Element die Anschrift der aktuellen Hauptwohnung bzw. die Anschrift der aktuellen alleinigen Wohnung übermittelt, oder die Tatsache, dass die Person nach unbekannt bzw. in das Ausland abgemeldet wurde.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="anmeldung.datenanforderung.0300">
      <xs:annotation>
         <xs:appinfo>
            <autor>Meldebehörde (ags)</autor>
            <leser>Meldebehörde (ags)</leser>
            <rechtsgrundlage>§ 23 Abs. 2 und 3 BMG, § 4 1. BMeldDÜV</rechtsgrundlage>
            <title>anforderung_meldescheins</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht fordert die Meldebehörde, den vorausgefüllten Meldeschein bei der zuständigen Meldebehörde der betroffenen Personen an. Diese Nachricht wird versendet von der zuzugs_mb im Falle eines zuzugs_inland (Prozess siehe ), nebenwohnungs_mb im Falle eines bezugs_nebenwohnung (Prozess siehe ), zuzugs_mb im Falle eines wiederzuzugs_ausland (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="anwenderkennung" type="din91379:datatypeC">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Anwenderkennung der Person übermittelt, die den vorausgefüllten Meldeschein für die betroffene Person anfordert. Die Anwenderkennung dient der Protokollierung des Datenabrufs.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="betroffene" type="xmeld:type.anmeldung.identifikation">
                     <xs:annotation>
                        <xs:documentation>Dieses Element dient der anforderung_meldescheins für 1 bis n Personen, die in der wegzugs_mb, der bisherigen hauptwohnungs_mb bzw. der letzten_inlands_mb mit derselben Anschrift mit dem Wohnungsstatus AW oder HW gemeldet sind bzw. waren. Die Anschrift dient der weiteren Identifikation der betroffenen_personen.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="anmeldung.datenbereitstellung.0301">
      <xs:annotation>
         <xs:appinfo>
            <autor>Meldebehörde (ags)</autor>
            <leser>Meldebehörde (ags)</leser>
            <rechtsgrundlage>§ 23 Abs. 2 und 3 BMG, § 4 1. BMeldDÜV</rechtsgrundlage>
            <title>Antwort auf die Anforderung des vorausgefüllten Meldescheines</title>
         </xs:appinfo>
         <xs:documentation>Mit dieser Nachricht übermittelt die Meldebehörde, die Antwort auf die Anforderung eines vorausgefüllten Meldescheines zur betroffenen Person an die anfragende Meldebehörde. Diese Nachricht wird versendet von der Wegzugsmeldebehörde im Falle eines Zuzugs aus dem Inland (Prozess siehe ), Meldebehörde der Hauptwohnung oder Meldebehörde der alleinigen Wohnung im Falle eines Bezugs einer Nebenwohnung (Prozess siehe ), letzten Inlandsmeldebehörde im Falle eines Wiederzuzugs aus dem Ausland (Prozess siehe ), Meldebehörde im Falle einer Rückweisung aufgrund fehlender Identifikation (Prozess siehe ), Meldebehörde im Falle einer Rückweisung aufgrund unplausibler Meldeverhältnisse (Prozess siehe ).</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xmeld:type.Nachricht.G2G">
               <xs:sequence>
                  <xs:element name="zuziehende.person"
                              maxOccurs="unbounded"
                              type="xmeld:type.anmeldung.zuziehende.person">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element werden für jede betroffene Person die Daten des vorausgefüllten Meldescheins übermittelt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ursprungsnachricht" type="xmeld:type.Identifikation.Nachricht">
                     <xs:annotation>
                        <xs:documentation>Mit diesem Element wird die Ursprungsnachricht referenziert, mit der die Anforderung eines vorausgefüllten Meldescheines mitgeteilt wurde. Als Schlüssel darf im Kindelement nachrichtentyp nur der Wert 0300 übermittelt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
